<!DOCTYPE html>
<html ng-app="system">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>EJPG-SYS on GITHUB.IO</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body ng-controller="systemCtrl">
  <div class="mt-5 container">
    <div>
      <h1 class="text-center">EJPG-SYS on GITHUB.IO</h1>
    </div>
    <hr/>
    <div>
      <div class="row">
        <div class="text-dark col justify-content-end">
          <label ng-bind="languageLabel"></label> 
          <a href="#" ng-click="changeLanguageEN()" id="languageENLabel">en</a>
          <a href="#" ng-click="changeLanguagePT()" id="languagePTLabel">pt</a>
        </div>
      </div>
      <div>
        <h2 ng-bind="articlesLabel"></h2>
        <table class="table table-hover table-borderless" id="articlesTable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th ng-bind="tableDateLabel" scope="col"></th>
              <th ng-bind="tableSubjectLabel" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="article in articles">
              <th class="col" scope="row">
                <span ng-bind="$index + 1"></span>
              </th>
              <td class="col">
                <span ng-bind="article.date_time | date:'yyyy-MM-dd'"></span>
              </td>
              <td class="col-12">
                <a class="text-dark" ng-href="{{article.body}}" ng-bind="article.title"></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row" id="pager">
          <div class="col justify-content-end">
            <label class="fw-bold" ng-bind="tablePageLabel"></label>
            <a class="text-dark fw-bold" href="#">1</a>
          </div>
        </div>
      <div>
      <br/>
    </div>
    <div>
      <hr/>
      <a class="text-dark" href="license.txt">MIT License</a>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" integrity="sha384-c+qsMuWimzoMxDpSd67QtX89Nctaxh/CBMTgEnKrTahfMz1HgjjwqrzEGYXMZxYi" crossorigin="anonymous"></script>
  <script>
    var articles = [
    {
      "title": "DRIVEN DESIGN",
      "body": "article/driven-design.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-01T15:35:31.000-03:00"
    },
    {
      "title": "DRIVEN EVENT",
      "body": "article/driven-event.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-01T01:45:20.000-03:00"
    },
    {
      "title": "ARTIFICIAL INTELLIGENCE",
      "body": "article/artificial-intelligence.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-02T04:15:28.000-03:00"
    },
    {
      "title": "MACHINE LEARNING",
      "body": "article/machine-learning.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-02T04:53:51.000-03:00"
    },
    {
      "title": "HANDS-ON IN DRIVEN-DESIGN",
      "body": "article/hand-on_driven-design.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-02T18:35:41.000-03:00"
    },
    {
      "title": "EPICS, HISTORIES, AND TASKS",
      "body": "article/epics-histories-and-tasks.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-07T09:57:17.000-03:00"
    },
    {
      "title": "FUNCTION POINT ANALYSIS",
      "body": "article/fpa-function-point-analysis.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-07T10:19:53.000-03:00"
    },
    {
      "title": "HANDS-ON IN HISTORY PRODUCT DEVELOPMENT",
      "body": "article/hands_on-in-history-product-development.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-07T15:16:07.000-03:00"
    }];
    var userLanguage = 'en';
    var userLanguages = navigator.languages;    
    var i = 0;
    while( i < userLanguages.length) {
      if (userLanguages[i] === 'pt' || userLanguages[i] === 'pt-BR') {
        userLanguage = 'pt';
        break;
      }
      i+=1;
    }
    var system = angular.module("system", []);
    system.controller("systemCtrl", function ($scope) { 
      $scope.language = userLanguage;
      $scope.changeLanguageEN = function() {
        $scope.articlesLabel = 'articles';
        $scope.languageLabel = 'languages';
        $scope.tableDateLabel = 'DATE';
        $scope.tableSubjectLabel = 'SUBJECT';
        $scope.tablePageLabel = "PAGE"
        document.getElementById('languageENLabel').setAttribute('class', 'text-dark fw-bold');
        document.getElementById('languagePTLabel').setAttribute('class', 'text-dark');
      }
      $scope.changeLanguagePT = function() {
        $scope.articlesLabel = 'artigos';
        $scope.languageLabel = 'idiomas';
        $scope.tableDateLabel = 'DATA';
        $scope.tableSubjectLabel = 'ASSUNTO';
        $scope.tablePageLabel = "PÁGINA";
        document.getElementById('languagePTLabel').setAttribute('class', 'text-dark fw-bold');
        document.getElementById('languageENLabel').setAttribute('class', 'text-dark');
      }
      if (userLanguage = 'pt') {
        $scope.changeLanguagePT();
      } else {
        $scope.changeLanguageEN();
      }
      $scope.articles = articles;
    });
  </script>
</body>
</html>