<!DOCTYPE html>
<html ng-app="system">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title ng-bind="pageTitle"></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body ng-controller="systemCtrl">
  <div class="mt-5 container">
    <div>
      <h1 class="text-center" ng-bind="pageTitle"></h1>
    </div>
    <hr/>
    <div>
      <div class="row">
        <div class="text-dark col justify-content-end">
          <label ng-bind="languageLabel"></label> 
          [<a href="#" ng-click="changeLanguageEN()" id="languageEN" ng-bind="languageENTextValue"></a>]
          [<a href="#" ng-click="changeLanguagePT()" id="languagePT" ng-bind="languagePTTextValue"></a>]
        </div>
      </div>
	  <div class="row">
        <div class="text-dark col justify-content-end">
		  <label ng-bind="topicTextValue"></label>
          [<a href="#" ng-click="changeTopicViewForArticlesTable()" id="articlesLabel" ng-bind="articlesTextValue"></a>]
          [<a href="#" ng-click="changeTopicViewForPapersTable()" id="papersLabel" ng-bind="papersTextValue"></a>]
        </div>
      </div>
	  <div class="row">
        <div class="text-dark col justify-content-end">
		  <label ng-bind="orderTextValue"></label>
          [<a href="#" ng-click="orderByNewest()" id="newestId" ng-bind="newestTextValue"></a>]
          [<a href="#" ng-click="orderByOldest()" id="oldestId" ng-bind="oldestTextValue"></a>]
        </div>
      </div>
        <table class="table table-hover table-borderless" id="articlesTable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th ng-bind="tableDateLabel" scope="col"></th>
              <th ng-bind="tableSubjectLabel" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="article in articles | limitTo:articlesMaxItemsPage:articlesMaxItemsPage*(articlesCurrentPage-1) track by $index">
              <th class="col" scope="row">
                <span ng-bind="$index + 1"></span>
              </th>
              <td class="col">
                <span ng-bind="article.date_time | date:'yyyy-MM-dd HH:mm'"></span>
              </td>
              <td class="col-10">
                <a class="text-dark" ng-bind="article.title" ng-href="{{article.body}}"></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row" id="pager">
          <div class="col justify-content-end">
            <label class="fw-bold" ng-bind="tablePageLabel"></label>
            <a class="text-dark fw-bold" href="#" ng-click="articlesChangePage(1)">1</a>
            <a class="text-dark fw-bold" href="#" ng-click="articlesChangePage(2)">2</a>
            <a class="text-dark fw-bold" href="#" ng-click="articlesChangePage(3)">3</a>
            <a class="text-dark fw-bold" href="#" ng-click="articlesChangePage(4)">4</a>
          </div>
        </div>
      <div>
      <br/>
    </div>
    <div>
      <hr/>
      <a class="text-dark" href="license.txt">MIT License</a>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" integrity="sha384-c+qsMuWimzoMxDpSd67QtX89Nctaxh/CBMTgEnKrTahfMz1HgjjwqrzEGYXMZxYi" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script>
    var articles = [
    {
      "order_id": "1",
      "article_id": "5a61f8fb4c067ea035bb779880421743e11b9b71",
      "title": "DRIVEN DESIGN",
      "body": "article/driven-design.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-01T15:35:31.000-03:00"
    },
    {
      "order_id": "2",
      "article_id": "93ea0629f27b756cbf681651ab7c0030765024ca",
      "title": "DRIVEN EVENT",
      "body": "article/driven-event.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-02T01:45:20.000-03:00"
    },
    {
      "order_id": "3",      
      "article_id": "8a9466c4856ccc4aa0d94d222f4fe49c23f0d11f",
      "title": "ARTIFICIAL INTELLIGENCE",
      "body": "article/artificial-intelligence.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-02T04:15:28.000-03:00"
    },
    {
      "order_id": "4",
      "article_id": "f7af5c1c938aa9a46c4bb208a746e0cb93c70d20",
      "title": "MACHINE LEARNING",
      "body": "article/machine-learning.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-02T04:53:51.000-03:00"
    },
    {
      "order_id": "5",
      "article_id": "d14a0e0ae48b2e4b8b91bd81d5ec8f7897082849",
      "title": "HANDS-ON IN DRIVEN-DESIGN",
      "body": "article/hand-on_driven-design.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-02T18:35:41.000-03:00"
    },
    {
      "order_id": "6",
      "article_id": "bcd97f8b7b800f18409255a18d49a92d733bcb96",
      "title": "EPICS, HISTORIES, AND TASKS",
      "body": "article/epics-histories-and-tasks.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-07T09:57:17.000-03:00"
    },
    {
      "order_id": "7",
      "article_id": "647f7e958b24ae3fd4b355242e62a047d2bba089",
      "title": "FUNCTION POINT ANALYSIS",
      "body": "article/fpa-function-point-analysis.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-07T10:19:53.000-03:00"
    },
    {
      "order_id": "8",
      "article_id": "7821c5d3cb0af89107e574e25d1a995f9bab6a36",
      "title": "HANDS-ON IN HISTORY PRODUCT DEVELOPMENT",
      "body": "article/hands_on-in-history-product-development.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-07T15:16:07.000-03:00"
    },
    {
      "order_id": "9",
      "article_id": "ca7ce43d406acc85591585825b2edac8bc2cbd60",
      "title": "SOFTWARE PRODUCT ECOSSYSTEM PERSPECTIVE",
      "body": "article/software-product-ecossystem-perspective.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-26T21:19:24.000-03:00"
    },
    {
      "order_id": "10",
      "article_id": "ecf542c5bf7de2251f0b43a3be18cd927a10cef9",
      "title": "sporsorship contract to labor in CLT [BR] modalite",
      "body": "article/utopia-contract.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-27T12:13:25.000-03:00"
    },
    {
      "order_id": "11",
      "article_id": "b6cdcf64e6d1119954225ff20b64aff078e61275",
      "title": "SPONSORSHIP AND BUSINESS CAPACITY",
      "body": "article/sponsorship-and-business-capacity.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-27T13:45:59.000-03:00"
    },
    {
      "order_id": "12",
      "article_id": "e74dc62ab3c2f99dd836166fa06d547151ff254f",
      "title": "EMPLOYERS ON TECHNICAL RESOURCES",
      "body": "article/employer-on-technical-resources.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-10-27T18:49:21.000-03:00"
    },
    {
      "order_id": "13",
      "article_id": "e74dc62ab3c2f99dd836166fa06d547151ff254f",
      "title": "WORKING ON THE SHADOW",
      "body": "article/working-on-the-shadow.md",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2024-11-05T23:36:13.000-03:00"
    }];
    var papers = [{
      "order_id": "1",
      "paper_id": "7720b17c082cb31e8fbdf0452a0969c3e5ed6f0c",
      "title": "BASE Web Service v1.3",
	  "en_body": "",
      "pt_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/base-v1.3/YP0004-ebase-pt-apresentacao-linkedin-less.pdf",
      "languages": ["pt"],
      "author": "E.J.P.G.",
      "date_time": "2025-01-17T12:44:43.000-03:00"
	},
	{
      "order_id": "2",
      "paper_id": "8cda10c0883c30e28fc281542acad15f25d819f0",
      "title": "BASE Web Service v1.7",
      "en_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/base-v1.7/YP0006_0-EN-BASE_PRESENTATION-MINIFIED.pdf",
	  "pt_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/base-v1.7/YP0006_0-PT-BASE_APRESENTACAO-MINIFICADO.pdf",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2025-01-27T11:28:07.000-03:00"
	},
	{
      "order_id": "3",
      "paper_id": "ee61a7b9c08405bafc83a67333b9b49f37dea5a0",
      "title": "DDL Interpreter v1.0",
      "en_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/ddl_interpreter-v1.0/en-presentation-ejpg_ecosystem_ddl_interpreter.pdf",
	  "pt_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/ddl_interpreter-v1.0/pt-presentation-ejpg_ecosystem_ddl_interpreter.pdf",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2025-02-04T15:19:51.000-03:00"
	},
    {
      "order_id": "4",
      "paper_id": "81fbb5a0c79c7c1f60655ff4bdc5a9ccb5c67e16",
      "title": "Admin Web Service v1.2-RC",
      "en_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/admin-v1.2-RC/en-presentation-ejpg_ecosystem_admin-ws.pdf",
	  "pt_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/admin-v1.2-RC/pt-presentation-ejpg_ecosystem_admin-ws.pdf",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2025-02-11T14:22:58.000-03:00"
	},
    {
      "order_id": "5",
      "paper_id": "fcf68abe7e05bb253fba4dbe4174a92d62b660ac",
      "title": "DDL Interpreter v1.1",
      "en_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/ddl_interpreter-v1.1/en-presentation-ejpg_ecosystem_ddl_interpreter-v1_1-default.pdf",
	  "pt_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/ddl_interpreter-v1.1/pt-presentation-ejpg_ecosystem_ddl_interpreter-v1_1-default.pdf",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2025-02-19T13:30:44.000-03:00"
	},
	{
      "order_id": "6",
      "paper_id": "4dbcee4d2dddd5bf45afbd95f2869cde67fe55c0",
      "title": "AFPA Counting v1.0",
      "en_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/afpa_counting_v1_0/en-presentation-ejpg_ecosystem_afpa_counting-default-v1_0.pdf",
	  "pt_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/afpa_counting_v1_0/pt-presentation-ejpg_ecosystem_afpa_counting-default-v1_0.pdf",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2025-02-21T14:25:44.000-03:00"
	},
	{
      "order_id": "7",
      "paper_id": "7a9123c7079de81cd955dd96592c7fe586ad37f7",
      "title": "SPECIFICATION INTERPRETER COMMAND v1.2",
      "en_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/en-presentation-ejpg_ecosystem_spec_interpreter_cmd_v1_2-default.pdf",
	  "pt_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/pt-presentation-ejpg_ecosystem_spec_interpreter_cmd_v1_2-default.pdf",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2025-03-10T13:34:12.000-03:00"
	},
	{
      "order_id": "8",
      "paper_id": "312b22a175da4a56d8c46e0d82cdcabe9944af7b",
      "title": "SPECIFICATION INTERPRETER COMMAND v1.3",
      "en_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/en-presentation-ejpg_ecosystem_spec_interpreter_cmd_v1_3-default.pdf",
	  "pt_body": "https://github.com/ejpg-sys/ejpg-sys.github.io/blob/main/paper/pt-presentation-ejpg_ecosystem_spec_interpreter_cmd_v1_3-default.pdf",
      "languages": ["en","pt"],
      "author": "E.J.P.G.",
      "date_time": "2025-03-19T08:59:54.000-03:00"
	}];
    var userLanguage = 'en';
    var userLanguages = navigator.languages;    
    var i = 0;
    while( i < userLanguages.length) {
      if (userLanguages[i] === 'pt' || userLanguages[i] === 'pt-BR') {
        userLanguage = 'pt';
        break;
      }
      i+=1;
    }
    var system = angular.module("system", []);
    system.controller("systemCtrl", function ($scope) { 
	  $scope.pageTitle = "EJPG-SYS on GITHUB.IO";
      $scope.language = userLanguage;
      $scope.changeLanguageEN = function() {
	    $scope.orderTextValue = "order by";
		$scope.newestTextValue = "newest";
		$scope.oldestTextValue = "oldest";
	    $scope.topicTextValue = "topic"
        $scope.articlesTextValue = 'articles';
		$scope.papersTextValue = 'papers';
        $scope.languageLabel = 'language';
		$scope.languageENTextValue = "english";
		$scope.languagePTTextValue = "portuguese";
        $scope.tableDateLabel = 'DATE';
        $scope.tableSubjectLabel = 'SUBJECT';
        $scope.tablePageLabel = "PAGE"
        document.getElementById('languageEN').setAttribute('class', 'text-dark fw-bold');
        document.getElementById('languagePT').setAttribute('class', 'text-dark');
      }
      $scope.changeLanguagePT = function() {
        $scope.orderTextValue = "ordernar por";
		$scope.newestTextValue = "recente";
		$scope.oldestTextValue = "antigo";
	    $scope.topicTextValue = "topico";
        $scope.articlesTextValue = 'artigos';
		$scope.papersTextValue = 'apresentações';
        $scope.languageLabel = 'idioma';
		$scope.languageENTextValue = "inglês";
		$scope.languagePTTextValue = "português";
        $scope.tableDateLabel = 'DATA';
        $scope.tableSubjectLabel = 'ASSUNTO';
        $scope.tablePageLabel = "PÁGINA";
        document.getElementById('languagePT').setAttribute('class', 'text-dark fw-bold');
        document.getElementById('languageEN').setAttribute('class', 'text-dark');
      }
	  $scope.changeTopicViewForArticlesTable = function() {
	      // TODO: implement!
	  }
	  $scope.changeTopicViewForPapersTable = function() {
	      // TODO: implement!
	  }
	  $scope.orderByNewest = function() {
	      // TODO: implement!
	  }
	  $scope.orderByOldest = function() {
	      // TODO: implement!
	  }
      if (userLanguage = 'pt') {
        $scope.changeLanguagePT();
      } else {
        $scope.changeLanguageEN();
      }
      $scope.articles = articles;
      $scope.artitlesListSize = articles.length;
      $scope.articlesMaxItemsPage = 4;
      $scope.articlesCurrentPage = 1;
      $scope.articlesTotalPages = Math.round($scope.artitlesListSize / $scope.articlesMaxItemsPage);
      $scope.articlesChangePage = function(pageNumber) {
        if ($scope.articlesCurrentPage != pageNumber) {
          $scope.articlesCurrentPage = pageNumber;
        }
      }
    });
  </script>
</body>
</html>
