<footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5>Services</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-secondary text-decoration-none" href="#">IT Consulting</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Software Manufacture</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Products</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-secondary text-decoration-none" href="#">Specification Interpreter</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">FPA WebService</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Systems WebService</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Base WebService</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Blog</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-secondary text-decoration-none" href="#">Software Development</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-secondary text-decoration-none" href="#">Team</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Locations</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Privacy</a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#">Terms</a>
        </li>
      </ul>
    </div>
    <hr/>
    </div>
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-body-secondary">
          &copy; 2024-2025 EJPG-SYS
        </small>
      </div>
    </div>
</footer>