<footer class="container py-5">
  <div class="modal fade" id="readerTermsModalCenteredScrollable" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="readerTermsModalCenteredScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="readerTermsModalCenteredScrollableTitle" ng-bind="resourceReaderTerms.subject"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ng-hide="!termsConfirm"></button>
        </div>
        <div class="modal-body" id="termsReaderScrollBodyId">
          <span ng-repeat="line in resourceReaderTerms.bodyText.lines track by $index">
            <p ng-bind="line"></p>
          </span>
          <span id="termsReaderScrollEndConfirm"></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-bind="termsReaderBtnCloseName" ng-hide="!termsConfirm"></button>
            <button disabled id="termReaderBtnCofirmId" type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-bind="termsReaderBtnConfirmName" ng-hide="termsConfirm" ng-click="actionTermsReaderConfirm(readerTermConfirm)"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md">
      <h5 ng-bind="services"></h5>
      <ul class="list-unstyled text-small">
        <li class="display-none">
          <a class="link-secondary text-decoration-none" href="#" ng-bind="serviceITConsulting"></a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#" ng-bind="serviceSoftwareManufacture"></a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 ng-bind="products"></h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-secondary text-decoration-none" href="#" ng-bind="productSpecIntepreter"></a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#" ng-bind="productSysWS"></a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#" ng-bind="productFpaWS"></a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#" ng-bind="productBaseWS"></a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#" ng-bind="productAdmWS"></a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#" ng-bind="productCgWS"></a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 ng-bind="blog"></h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-secondary text-decoration-none" href="#" ng-bind="blogSD" ng-click="actionFooterBlogPageReader()"></a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 ng-bind="about"></h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-secondary text-decoration-none" href="#" ng-bind="aboutTeam"></a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="#" ng-bind="aboutLocations"></a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="" ng-bind="aboutPrivacy" ng-click="actionResourceReaderTermsShow('privacy')"></a>
        </li>
        <li>
          <a class="link-secondary text-decoration-none" href="" ng-bind="aboutTerms" ng-click="actionResourceReaderTermsShow('terms')"></a>
        </li>
      </ul>
    </div>
    <hr/>
    </div>
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-body-secondary">
          &copy; 2024-2025 EJPG-SYS
        </small>
      </div>
    </div>
</footer>